* {
  box-sizing: border-box;
}

body {
  background-color: #121212;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  width: 100%;

  canvas {
    outline: none;
  }
}

#prompt {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 30px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

#audio-btn {
  background-color: rgba(white, 0);
  border: 3px solid white;
  color: white;
  cursor: pointer;
  font-size: 150%;
  outline: none;
  padding: 0.3em 0.7em;
  transition: 0.35s color, 0.35s background-color;

  &:hover {
    background-color: rgba(white, 1);
    color: black;
  }
}

.audio-icon {
  margin-bottom: 40px;
  width: 70px;

  path {
    fill: white;
  }
}

#progress {
  color: white;
  font-size: 140%;
  visibility: hidden;
}

#credits {
  background: rgb(18,18,18);
  background: -moz-linear-gradient(180deg, rgba(18,18,18,1) 0%, rgba(18,18,18,0.4990371148459384) 65%, rgba(18,18,18,0) 95%);
  background: -webkit-linear-gradient(180deg, rgba(18,18,18,1) 0%, rgba(18,18,18,0.4990371148459384) 65%, rgba(18,18,18,0) 95%);
  background: linear-gradient(180deg, rgba(18,18,18,1) 0%, rgba(18,18,18,0.4990371148459384) 65%, rgba(18,18,18,0) 95%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#121212",endColorstr="#121212",GradientType=1);
  color: white;
  left: 0;
  letter-spacing: 0.07em;
  line-height: 1.5;
  margin: 0;
  position: fixed;
  padding: 12px 16px 30px;
  top: 0;
  width: 100%;
  z-index: 20;

  @media (min-width: 767px) {
    padding: 16px 24px 40px;
  }

  a {
    color: inherit;
  }
}
